$font-families: Helvetica, sans-serif;
$base-font-size: 16px;

$white-color : #ffffff;
$black-color : #000000;
$dark-color-1 : #121212;
$dark-color-2 : #191919;
$dark-color-3 : #212121;

$green-color: #006e39;
$blue-color: #042538;

$border-light-color: #E5E5E5;
$border-dark-color: #424242;
