@import "reset";
@import "variables";
@import "base";
@import "plugins/owl.carousel.min.css";
@import "plugins/owl.theme.default.min.css";

html,
body {
  scroll-behavior: smooth;
  height: 100%;
}

.dmenu-close {
  .sidebar-menu {
    position: fixed;
    top: 0;
    left: -430px;
    width: 380px;
    height: 100%;
    padding: 25px 25px 0;
    z-index: 99999;
    transition: all 0.3s;
    background: url(../img/sidebar-menu-bg.jpg) no-repeat left top #131313;

    .desktop-menu-btn {
      font-size: 24px;
      color: #fff;
      position: absolute;
      top: 0px;
      right: -50px;
      border-radius: 0;
      width: 50px;
      height: 50px;
      background-color: $green-color;
      line-height: 50px;
      text-align: center;
      cursor: pointer;
      transition: all 0.3s;
      z-index: 100000;
      display: flex;
      justify-content: center;
      align-items: center;

      #sidebar-open {
        display: block;
      }
      #sidebar-close {
        display: none;
      }
    }
  }
  .header-logo {
    position: relative;
    display: block;

    .logo {
      position: absolute;
      z-index: 999;
      width: 200px;
      right: 20px;
      top: 20px;

      img {
        width: 100%;
      }
    }
  }
  
  .content-shrink{
    padding-left: 0;
  }
}

.sidebar-menu {
  position: fixed;
  top: 0;
  left: 0px;
  width: 380px;
  height: 100%;
  padding: 50px 25px 0;
  z-index: 99999;
  transition: all 0.3s;
  background: url(../img/sidebar-menu-bg.jpg) no-repeat left top #131313;

  .desktop-menu-btn {
    font-size: 24px;
    color: #fff;
    position: absolute;
    top: 0px;
    right: 0;
    border-radius: 0;
    width: 50px;
    height: 50px;
    background-color: $green-color;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s;
    z-index: 100000;
    display: flex;
    justify-content: center;
    align-items: center;

    #sidebar-open {
      display: none;
    }
    #sidebar-close {
      display: block;
    }
  }

  .header-inner {
    height: 100%;
    position: relative;
    box-sizing: border-box;

    .navbar-header {
      width: 100%;

      .navbar-brand {
        text-align: center;
        color: #fff !important;
        display: block;
        margin: 0 0 50px;
        padding: 0;
        white-space: normal;

        .logo-icon {
          width: 300px;
          margin-bottom: 8px;
          max-width: 100%;
        }
      }
    }

    .nav-wrap {
      .menu-primary {
        border-left: #fff 1px solid;
        padding-left: 24px;
        padding-top: 7px;
        padding-bottom: 7px;
        margin-left: 7px;
        margin-bottom: 50px;

        .nav-item {
          display: block;
          margin-bottom: 30px;
          position: relative;

          a {
            text-transform: uppercase;
            letter-spacing: 1px;
            transition: 0.3s;
            font-size: 14px;
            line-height: 14px;
            color: $white-color;
          }

          &.active {
            &::before {
              background: $green-color;
            }

            a {
              color: $green-color;
            }
          }

          &::before {
            position: absolute;
            content: "";
            left: -30px;
            top: 6px;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            background: #fff;
            transition: 0.3s;
          }
        }
      }
    }

    .sidebar-menu-footer {
      position: inherit;
      bottom: 10px;

      .copyright-txt {
        margin-bottom: 20px;
        line-height: 14px;
        letter-spacing: normal;
        color: $white-color;
      }

      .footer-social {
        .list-inline {
          padding-left: 0;
          list-style: none;

          li {
            display: inline-block;
            vertical-align: top;
            padding: 0 5px;

            a {
              color: $white-color;
            }
          }
        }
      }
    }
  }
}
.header-logo {
  display: none;
}

.content-shrink{
    padding-left: 380px;
    width: 100%;
    transition: all 0.3s;
    overflow-x: hidden;
    overflow-y: hidden;
}

section {
  &.hero {
    .hero-slider {
      .slider-image {
        height: 100vh;
        // max-height: 750px;

        img {
          height: 100%;
        }
      }
    }
  }
}
